:root {
    --background-dark: rgb(22, 22, 22);
    --darker: rgb(18, 18, 18);
    /* --title: rgb(92, 255, 146); */
    --title: white;
    --title-into: white;
    --bar: rgb(150, 255, 89);
    /* --bar: rgb(255, 0, 179); */
    --bar: rgb(166, 89, 255);
    /* --bar: rgb(44, 107, 241); */
    /* --bar: white; */
    --bar-root: rgb(224, 250, 209);
    /* --bar: white; */
    --hover: rgb(124, 124, 124);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    background-color: var(--background-dark);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--title);
}

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.glow {
    box-shadow: 
        0 0 5px var(--bar),
        0 0 10px var(--bar),
        0 0 20px var(--bar),
        0 0 40px var(--bar);
}

/* FONTS */

.title-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-bold {
  font-family: "Stalinist One", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: bold;
}



/* MAIN */


.main-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(33,33,33); */
    gap: .5em;

    margin-top: 30vh;
}


/* ARTICLES CONTAINTERS */

.article-cont {
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-width: 50vw;
    max-width: 70vw;
    padding: 2em;
    /* border: 2px solid white; */
    animation: fadeIn 2s ease;
    /* animation-delay: 1s; */

    transition: .25s ease;
}

.article-cont:hover {
    gap: 6em;
    margin-bottom: 3em;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: var(--bar);
}

.art-content {
    display: flex;
    flex-direction: column;
    /* background-color: darkblue; */
    gap: 1em;
}

.art-inner-cont {
    display: flex;
    flex-direction: row;

    max-width: 65vw;
    max-height: 15em;

    /* background-color: green; */

    padding-inline: 1em;

    gap: 3em;

    justify-content: space-between;
    /* align-items: center; */

    /* background-color: darkblue;s */
}

.art-text-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 40vw;
    /* background-color: darkblue; */
}

.article-title {
    font-size: 2em;
    margin-bottom: 1em;
}

.articles-link {
    color: white;
    transition: .5s ease;
}

.articles-link:hover {
    color: var(--bar);
    /* letter-spacing: 5px; */
}

.art-desc {
    width: 40vw;
    max-width: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;

    transition: .2s ease;
}

/* .art-desc:hover {
    letter-spacing: 2px;
} */


.art-pic-cont {
    display: flex;
    width: 200px;
    height: 200px;
    /* background-color: purple; */
    overflow: hidden;
    border-radius: 1em;
    transition: .25s ease;
    /* border: 20px solid var(--background-dark); */
}

.art-pic {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
    box-sizing: border-box;
    /* border: 3px solid var(--bar); */
    aspect-ratio: 1 / 1;

    transition: .25s ease;
    /* filter: brightness(.7); */
}

.art-pic:hover {
    /* filter: blur(2px); */
    filter: brightness(.7);
}

.art-pic-cont-inside {
    display: none;
}

/* .art-pic-cont:has(.art-pic:hover) {
    transform: translateY(-1em);
} */

.art-foot-cont {
    display: flex;
    /* background-color: darkslateblue; */
    justify-content: space-between;

    padding-inline: 1em;
}

.art-date {
    color: white;
}

.art-likes {
    display: flex;
    flex-direction: row;
    gap: 1em;
    /* color: white; */
    /* background-color: darkblue; */
    align-items: center;
}

.art-count {
    color: white;
}

.art-thumb {
    color: white;
    transition: .25s ease;
}

.art-thumb:hover {
    color: rgb(241, 44, 44);
    cursor: pointer;
    transform: scale(1.5);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: white;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
        color: var(--title-into);
    }
    10% {
        opacity: 0;
        transform: translateY(-1em);
    }
    50% {
        color: var(--title-into);
    }
    100% {
        opacity: 1;
    }
}

@keyframes expandOut {
    to {
        transform: scaleX(1);
    }
}


@media screen and (max-width: 600px) {
    body {
        display: flex;
        background-color: var(--background-dark);
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        word-wrap: break-word;
    }

    /* .home {
        display: none;
    }

    .home-abr {
        display: visible;
        font-size: 1em;
        margin-left: 1em;
    }

    .header-link-abr {
        color: var(--text);
        transition: .5s ease;
    }

    .header-link-abr:hover {
        color: var(--bar);
        letter-spacing: 5px;
    }

    .header-cont {
        margin-top: 0px;
        width: 100%;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid var(--bar);
        padding-inline: none;
    } */

    .main-cont {
        margin-top: 15vh;
    }
    
    .article-cont {
        max-width: 99vw;
        min-width: 90vw;
    }

    .art-inner-cont {
        flex-direction: column;
        max-width: 85vw;
        max-height: none;
        /* background-color: darkgoldenrod; */
    }

    .art-text-cont {
        gap: 1rem;
        /* background-color: darkblue; */
        max-width: inherit;
    }

    .article-title {
        /* background-color: darkgreen; */
        margin-bottom: 0em;
    }


    .art-desc {
        width: 100%;
        max-width: 85vw;
        /* background-color: darkgreen; */
    }

    .art-pic-cont-inside {
        display: flex;
        width: 100%;
        height: auto;

        overflow: hidden;
        border-radius: 1em;
        transition: .25s ease;

        margin-bottom: 1em;
    }

    .art-pic-inside {
        display: visible;
        width: 100%;
        object-fit: cover;
        border-radius: 1em;
        box-sizing: border-box;
        /* border: 3px solid var(--bar); */
        aspect-ratio: 1 / 1;

        transition: .25s ease;
    }
     
    .art-pic-cont {
        display: none;
    }

    .article-title {
        font-size: 1.5em;
    }

    .name {
        font-size: 6vw;
    }
}





